*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.nav, .container-main{
    display: flex;
    padding: 10px;
    align-items: center;
    /* border: 1px solid red; */
}
.nav img{
    width: 100%;
    max-width: 70px;
}
.container-main{
    height: 100vh;
    font-size: 25px;
    flex-direction: column;
}
.container-main strong{
    color: blue;
}
.areaDATA{
    padding-top: 20px;
}
#IDdata, #IDEnviar{
    width: 200px;
    height: 30px;
    text-align: center;
    color: blue;
    border-radius: 5px;
    border: 1px solid blue;
    background: white;
}
.areaExibir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
#IDimg img{
    width: 100%;
    max-width: 400px;
    height: auto;
    /* border: 1px solid green; */
}
#IDtxt{
    font-size: 20px;
    margin: 0 50px;
    /* border: 1px solid blue; */
}
#IDEnviar{
    width: 100px;
    height: 32px;
}
.rodape{
    display: flex;
    justify-content: center;
}
.rodape p, a{
    padding: 40px 0 10px 0;
    color: blue;
    text-decoration: none;
}

#IDEnviar:hover{
    cursor: pointer;
    color: white;
    background: blue;
}